@mixin square($axis, $side) {
    position: absolute;
    background: var(--Black-blue, #42567A);
    opacity: 0.1;
    
    @if $axis == ay {
        width: 1px;
        height: 100%;
        top: 0;
    }
    @if $side == left {
        left: 0;
    }
    @if $side == right {
        right: 0;
    }
    @if $side == center {
        left: calc(50% - .5px)
    }
    @if $axis == ax {
        top: calc(50% - .5px);
        width: 100%;
        height: 1px;
        left: 0;
    }
}