@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans:wght@400;700&display=swap');
@import './reset.css';
@import './mixins.scss';

html {
    // most common font
    font-family: "PT Sans", serif;
    font-weight: 400;
    background: #F4F5F9;
}

.wrapper {
    position: relative;

    width: 100vw;
    height: 100vh;
    // l screens
    // max-width: 1440px;
    max-width: 1100px;
    margin: 0 auto;

    box-sizing: border-box;
    padding: 0px 80px;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width: 1500px) {
        padding: 40px 80px;
    }
}

.wrapper__line--horizontal {
    @include square($axis: ax, $side: center);
}

.wrapper__line--right {
    @include square($axis: ay, $side: right);
}
.wrapper__line--left {
    @include square($axis: ay, $side: left);
}
.wrapper__line--center {
    @include square($axis: ay, $side: center);
}

.circle__wrapper {
    position: relative;
    height: 350px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    position: absolute;
    top: calc(50% - 265px);
    left: calc(50% - 265px);
    width: 530px;
    height: 530px;
    border-radius: 50%;
    border: 1px solid rgba(66, 86, 122, 0.2);
    opacity: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: rotate 1s ease-out;
    
    @media screen and (max-width: 1500px) {
        width: 350px;
        height: 350px;
        top: calc(50% - 185px);
        left: calc(50% - 175px);
    }
}

.marker__block {
    position: absolute;
    left: calc(50% - 4px);
    width: 6px;
    height: 100%;
    z-index: 10;
}

.cirlce__marker {
    position: absolute;
    top: -4px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #42567A;
    cursor: pointer;   
}

.marker__hover {
    position: absolute;
    width: 56px;
    height: 56px;
    background: #F4F5F9;
    border: 1px solid rgba(48, 62, 88, .5);
    top: calc(-28px + 4px);
    left: calc(-28px + 4px);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 0; transform: translate(0px); translate: none; rotate: none;
    
}

.marker__hover--active { 
    transform: translate(0px); translate: none; rotate: none;
}


.marker__number-text {
    color: #42567A;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    transition: rotate 1s ease-out;
}

.marker__category {
    position: absolute;
    left: calc(100% + 20px);

    height: 100%;

    display: flex;
    align-items: center;

    color: var(--Black-blue, #42567A);
    font-family: 'PT Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
} 

h1 {
    position: relative;
    color: var(--Black-blue, #42567A);
    font-family: 'PT Sans', sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    
    @media screen and (max-width: 1500px) {
        font-size: 48px;
    }
}

.title__line {
    position: absolute;
    top: 0;
    left: -79px;
    width: 5px;
    background: linear-gradient(180deg, #3866EE -5%, #EF5DA8 85%);
    height: 100%;
}

.circle__dates {
    display: flex;
    gap: 65px;

    margin-top: -3%;

    transition: rotate 1s ease-out;
}

.circle__date {
    font-family: 'PT Sans', sans-serif;
    font-size: 200px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -4px; 

    @media screen and (max-width: 1500px) {
        font-size: 160px;
    }

    &--first {
        color: #5D5FEF;
    }

    &--second {
        color: #EF5DA8;
    }
}

.slider {
    position: relative;
}

.swiper-button-prev, .swiper-button-next {
    width: 40px;
    height: 40px;
    background: #fff;

    box-shadow: 0px 0px 15px 0px rgba(56, 119, 238, 0.10); 
    border-radius: 50%;
    rotate: 180deg;

    // left: -40px;
    
    &::after {
        position: absolute;
        top: calc(50% - 10px);
        left: calc(50% - 5px);
        content: '';
        width: 10px;
        height: 20px;
        background: url('./assets/arrowSlider.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
}

.swiper-button-next {
    right: -10px;
    z-index: 100;
    &::after {
        rotate: 180deg;
    }
}

.swiper-button-disabled {
    display: none;
}

.slider__date {
    color: #3877EE;
    font-family: Bebas Neue;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 30px */
    text-transform: uppercase; 

    @media screen and (max-width: 1500px) {
        font-size: 20px;
    }
}

.slider__text {
    color: #42567A;
    font-family: PT Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 150% */ 
    @media screen and (max-width: 1500px) {
        font-size: 16px;
    }
}

.slider-controller {
    position: absolute;
    border-radius: 50%;
    right: -60px;
    top: calc(50% - 20px);
    box-shadow: 0px 0px 15px 0px rgba(56, 119, 238, 0.10);
    background: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    &--left{
       left: -60px;
       rotate: 180deg;
    }
}

.circle__controls {
    position: absolute;
    left: 0;
    bottom: 0
}

.circle__position {
    color: #42567A;
    font-family: PT Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}

.circle__controls-buttons {
    display: flex;

    margin-top: 20px;
}

.circle__button {
    width: 50px;
    height: 50px;

    border-radius: 50%;
    border: 2px solid rgba(66, 86, 122, .5);

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    background-image: url('./assets/arrowCircle.svg');
    background-position: center;

    &:not(:first-child) {
        margin-left: 10px;
        rotate: 180deg;
    }

    &--disabled {
        opacity: .5;
    }
}